@font-face {
    font-family: 'DINEngschriftStdRegular';
    src: url('../../fontes/DINEngschriftStd/dinengschriftstd-webfont.eot');
    src: url('../../fontes/DINEngschriftStd/dinengschriftstd-webfont.eot?#iefix') format('embedded-opentype'),
        
         url('../../fontes/DINEngschriftStd/dinengschriftstd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNeuzeitGroteskStdBoldCnRg';
    src: url('../../fontes/DINNeuzeitGroteskStd-BdCond/dinneuzeitgroteskstd-bdcond-webfont.eot');
    src: url('../../fontes/DINNeuzeitGroteskStd-BdCond/dinneuzeitgroteskstd-bdcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fontes/DINNeuzeitGroteskStd-BdCond/dinneuzeitgroteskstd-bdcond-webfont.woff') format('woff'),
         url('../../fontes/DINNeuzeitGroteskStd-BdCond/dinneuzeitgroteskstd-bdcond-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'UniversLTStd55Regular';
    src: url('../../fontes/UniversLTStd/universltstd-webfont.eot');
    src: url('../../fontes/UniversLTStd/universltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fontes/UniversLTStd/universltstd-webfont.woff') format('woff'),
         url('../../fontes/UniversLTStd/universltstd-webfont.ttf') format('truetype'),
         url('../../fontes/UniversLTStd/universltstd-webfont.svg#UniversLTStd55Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colaborate-boldregular';
    src: url('../../fontes/ColabBold/fontescolabbol-webfont.eot');
    src: url('../../fontes/ColabBold/colabbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fontes/ColabBold/colabbol-webfont.woff') format('woff'),
         url('../../fontes/ColabBold/colabbol-webfont.ttf') format('truetype'),
         url('../../fontes/ColabBold/colabbol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colaboratelightregular';
    src: url('../../fontes/ColabLigth/colablig-webfont.eot');
    src: url('../../fontes/ColabLigth/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fontes/ColabLigth/colablig-webfont.woff') format('woff'),
         url('../../fontes/ColabLigth/colablig-webfont.ttf') format('truetype'),
         url('../../fontes/ColabLigth/colablig-webfont.svg#colaboratelightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ============= global ============== */

body
{
	background-image: url(../../imagens/site/fundo.png);
	margin: 0px;
	display:block;
	padding:0;
	background-position: top;
}

select {
	display:block;
	background: url(../../imagens/site/btn_select.png) no-repeat;
	height:29px;
	border: 1;
	border-radius: 5px;
	overflow:hidden;
	padding:5px;
	margin-bottom:5px;
}

body, p, table, td, th, input, textarea, select
{
	font-family: Arial;
	font-size: 11px;
	color: #666;
	margin: 0px;
}

input[type=checkbox]
{
	display:block;
	float:left;
	margin: 1px 5px;
	background-color:#ebebeb;
	background-color:#00FF00; 
	border: solid 1px #006699; 
	border-bottom: dashed 3px; #000;
}

input[type=submit]
{
	color: #fff;
	background: url(../../imagens/site/btn_fundo.png) repeat-x;
	font-size:11px;
	border:none;
	height:19px;
	padding-top:0px;
	display:table-cell;
	vertical-align: middle;
}

textarea
{
	width: 340px;
	height: 100px;
	background-color:#ebebeb;
	border: 1px solid #676767;
	margin:10px 0px 10px 0px;
}

textarea:focus
{
	border: 1px solid #676767;
}
/* ============= layout ============== */


.largura
{
	display:block;
	width:100%;
	background-color:#fff;
	clear:both;
}

#largura_menu_topo
{
	font-family: 'DINNeuzeitGroteskStdBoldCnRg';
	top:0px;
	height:27px;
	background: #f4f1e1;
	display:block;
	border-top-width: thick;
	border-top-style: solid;
	border-top-color: #fff;
	border-top-width: 1px;
}

.corpo
{
	position:absolute;
	width:1250px;
	min-width:1090px;
	height:100%;
	margin-left: -600px;
	margin-top:20px;
	left:50%;
}

.centro
{
	width:1200px;
	min-width:1200px;
	height:100%;
	margin: 0 auto;
}

#topo_izquerda_cima
{
	float:left;
}

#topo_direita_cima
{
	float:right;
}

.menu{
	/*font-family: DINEngschriftStdRegular;*/
	float:right;
	margin-top: 0px;
	height: 20px;
}

.menu ul {
    margin-top:7px;
	padding-left:0px;
    list-style:none;
}

.menu ul li 
{
	display: inline; 
	padding:0px;
	margin: 0 20px 0 0;
}

.menu ul li a {
	padding:0px; 
    /* visual do link */  
	font-size:13px;
    color: #6b6b6b;
    text-decoration:none;
	
}

.menu a
{
	padding:0px; 
    /* visual do link */  
	font-size:12px;
    color: #6b6b6b;
    text-decoration:none;
	
}

.menu a:hover 
{
	/*text-decoration: underline;*/
	color:#42957d;
}

.menu_02{
	/*font-family: DINEngschriftStdRegular;*/
	float:right;
	margin-top: 0px;
	height: 20px;
}

.menu_02 a
{
	display:block;
	float:left;
    /* visual do link */  
	font-size:13px;
    color: #6b6b6b;
    text-decoration:none;
	margin-top:7px;
}

.menu_02 img
{
	display:block;
	float:left;
	margin-top:-3px;
	margin-left:10px;
}

.menu_02 a:hover 
{
	color:#42957d;
}

#largura_banner
{
	display:block;
	min-height:160px;
	max-height:160px;
	background-color:#fff;
}

#logo 
{
	display:block;
	width:282px;
	margin:0 auto;	
}

#logo  img
{
	margin-top:25px;
	margin-bottom:7px;
}

#largura_banner hr
{
	display:block;
	min-width:100%;
	border-width: 0;
	height: 1px;
	border-top: 1px solid #e7e0b3;
	margin:1px;
	position:relative;
	float:left;
}

.active
{
	color: #989898 !important;
}

.active_01
{
	color: #42957d !important;
}

#conteudo_sub_menu{
	font-family: 'DINNeuzeitGroteskStdBoldCnRg';
	min-width:100px;
	height: 29px;
	margin:0 auto;
	padding-top:4px;
}

#conteudo_sub_menu ul 
{
	display:block;
	max-width: 1090px ;
	text-align:center;
    margin-left: auto ;
	margin-right: auto ;
}

#conteudo_sub_menu ul li
{ 
	display:inline;
	margin-top:8px;
	font-size:16px; 
	padding:5px 25px 2px 25px;
}


#conteudo_sub_menu ul li a 
{
	color: #42957d;
	text-decoration: none;
	border-bottom: none;
	margin-top:15px !important;
	height:28px !important;
}

#conteudo_sub_menu ul li a:hover
{
	color: #989898;
}

#base_banner
{
	display:block;
	min-height:15px;
	background:#b9b38b;
}

.element 
{
	
	font-size:14px;
	font-style:normal;
	background:#353939;
	margin: 0 14px 15px 0 !important;
	padding:14px;
}

.element a
{
	display:block;
	border:0;
	margin-bottom:0px !important;
	padding:0;
}

.element img
{
	border:0;
	margin-bottom:0px !important;
	padding:0;
}

.element  h2
{	
	font-family: 'DINNeuzeitGroteskStdBoldCnRg';
	display:block;
	margin: 1px 0 0 0px; 
	font-size:20px !important;
	color:#a49567;
	font-style:normal !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

.element  p
{
	font-family: 'colaboratelightregular';
	font-size: 14px !important;
	display:block;
	float:left;
	width:98%;
	margin-top:1px;
	margin-left:0px;
	font-size:18px;
	color:#fff;
	font-style:normal;
	font-weight: normal;
}


.div_espaco
{
	display:block;
	width:100%;
	float:left;
	margin:5px 0 2px 0;
}

.div_compartillhar
{
	display:block;
	width:100%;
	float:left;
	margin:26px 0 8px 0;
}

.div_compartillhar a
{
	display:block;
	float:right;
	margin-left: 5px;
}

.div_compartillhar div
{
	display:block;
	float:right;
	margin-left: 5px;
}

.div_detalhes
{
	display:block;
	float:right;
}

/* INTERNA DAS MATERIAS*/
#conteudo_pagina {
    
	display:block;
	width:1090px;
	min-height:720px;
	background-color:#fff;
	float:left;
}
.interna_centro
{
	display:block;
	width:930px;
	margin:0 auto;
	margin-top:50px;
	height:100%;
}

#pagina_conteudo_esquerdo
{
	font-family: 'UniversLTStd55Regular';
	display:block;
	width:650px;
	float:left;
	color:#6E6E6E;
}

#pagina_conteudo_esquerdo h2
{
	font-family: 'DINNeuzeitGroteskStdBoldCnRg';
	font-size:22px !important;
}

#pagina_conteudo_esquerdo img
{
	display:block;
	float:left;
	margin: 20px 0 20px 0;
	max-width:650px;
}

#pagina_conteudo_esquerdo div
{
	display:block;
	width:100%;
	float:left;
	font-size:12px;
}

#pagina_conteudo_esquerdo p
{
	display:block;
	width:100%;
	
}

#pagina_conteudo_direito
{
	display:block;
	float:right;
	width:268px;
	margin-top:  20px;
}

#pagina_conteudo_direito a
{
	font-size:14px;
	float:left;
	top:20px;
	padding-left:8px;
	margin:8px;
	width:230px;
}

#pagina_conteudo_direito p
{
	font-weight:bold;
	font-size:20px;
	float:left;
	margin:32px;
	margin-left:8px;
}

#pagina_conteudo_direito span
{
	font-weight:bold;
	font-size:14px;
	float:left;
	margin:8px;
}

#pagina_conteudo_direito div 
{
	max-width:230px !important;
	float:left !important;
	margin-bottom:30px;
}

/* FIM INTERNA DAS MATERIAS*/

.sombra_01
{
	display:block;
	background-image: url(../../imagens/site/sombra_01.png);
	width:259px;
	height:6px;
	margin-top:3px;
}

.sombra_02
{
	display:block;
	background-image: url(../../imagens/site/sombra_02.png);
	width:532px;
	height:9px;
	margin-top:3px;
}

.sombra_03
{
	display:block;
	background-image: url(../../imagens/site/sombra_03.png);
	width:809px;
	height:14px;
	margin-top:3px;
}

.sombra_04
{
	display:block;
	background-image: url(../../imagens/site/sombra_04.png);
	width:1091px;
	height:19px;
	margin-top:3px;
}

.contato_map
{
	display:block;
	float:left;
	color:#919191 !important;
	margin-left:7px;
}

.contato_map h2
{
	font-family: 'DINNeuzeitGroteskStdBoldCnRg';
	font-size:17px !important;
	margin-bottom:4px;
}

.contato_map p
{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica !important;
	margin:0 0 1px 0 !important;
	width:100%;
	padding:0;
	font-size:12px !important;
	color:#919191 !important;
}

.contato_map span
{
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica !important;
	display:block;
	margin:15px 0 0 0 !important;
	padding:0;
	float:left;
	font-size:12px !important;
	color:#919191 !important;
}

.contato_map iframe
{
	margin-bottom: 25px;
}

/*Pagina de Contato*/
.interna_centro_contato
{
	display:block;
	width: 876px;
	margin:0 auto;
	margin-top:50px;

}


#header_contato
{
	width: 100%;
	
	height: 230px;
	
	display: block;
}

.header_contato_interno
{
	width: 50%;
	font-family: 'DINEngschriftStdRegular';
	float: left;
}

.header_contato_interno h1
{
	font-family: 'DINNeuzeitGroteskStdBoldCnRg';
	color: #919191 !important;
}

.header_contato_interno h2
{
	font-family: 'Arial' !important;
	font-size:16px !important;
}

.header_contato_formulario
{
	width: 48%;
	float: right;
	margin-right:5px;
}

.formulario_contato
{
	width:100%;
}

.formulario_contato input[type=text]
{
	float: right;
	
	width: 373px;
	
	height: 22px;
	
	border: none;
	
	background: #f9f8f6;
	
	color: #cccbc9;
	
	font-size: 13px;
	
	font-style: italic; 
	
	padding-left:5px;

}

.formulario_contato textarea
{
	float: right;
	
	width: 372px;
	
	height: 105px;
	
	border: none;
	
	margin:0;
	
	background: #f9f8f6;
	
	color: #cccbc9;
	
	font-size: 13px;
	
	font-style: italic; 
	
	padding-left:5px;
}

.formulario_contato hr
{
	width: 100%;
	
	float: right;
	
	border: none;
}

.formulario_contato input[type=submit]
{
	float: right;
	
	background: #b9b38b;
	
	border: none;
	
	color: #ffffff;
}

#mapa_localizacao
{
	display: block;
	
	width: 100%;
	
	margin-bottom: 50px;
}

.header_contato_interno h1
{
	display:block;
	margin-top:0px;
}

.header_contato_interno h2
{
	font-size: 18px;
	color: #919191;
}

.header_contato_interno p
{
	font-size: 15px;
	color: #919191;
}
/*FIM Pagina de Contato*/

