<!--

.linhatabela04
{
	font-weight: bold;
	background-image:url(../../imagens/gc/fundo_geral_03.png);
	color: #FFFFFF;
}

.linhatabela04 td
{
	color: #FFFFFF;
}

.linhatabela04 td a
{
	color: #FFFFFF;
}

body
{
	background-image:url(../../imagens/gc/fundo_geral.png);
	margin:0;
}

body,td,th, input, select, textarea
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 12px;
color: #333;
}

img
{
	border:none;
}
a
{
	text-decoration:none;
	color:#000;
}

a:hover
{
	text-decoration:underline;
	color:#000;
}

.topo
{
	background-image:url(../../imagens/gc/topo_fundo.png);
	display:block;
	height:50px;
	width:100%;	
	color:#CC0000;
	min-width: 1255px;
}

.topo img
{
	float:left;
}
.topo div#esquerda
{
	float:left;
	line-height:50px;
}

.topo div#direita
{
	float:right;
	line-height:50px;
	margin-right:50px;
}

.topo a
{
	color:#CC0000;
}

.topo_menu
{
	background:#333 url(../../imagens/gc/menu_fundo.png);
	display:block;
	height:112px;
	width:100%;
	min-width: 1255px;
}

.topo_menu span
{
	display:block;
	float:left;
	line-height:100px;
	color:#FFF;
	padding-top:45px;
}

.topo_menu img
{
	padding: 0 50px;
	float:left;
}

.topo_menu_sombra
{
	background:#fff url(../../imagens/gc/sombra_01.png);
	display:block;
	height:10px;
	width:100%;	
	min-width: 1255px;
}

.conteudo_borda
{
	display:block;
	min-height:400px;
	width:96%;
	margin:0 auto;
	margin-top:20px;
	background-image:url(../../imagens/gc/fundo_conteudo.png);
	background-repeat:repeat-x;
	padding-top:18px;
	float:center;
	min-width:1000px;
}

.conteudo_sub_menu
{
	display:block;
	background-color:#000;
	padding:16px;
	color:#fff;
}

.conteudo_sub_menu a
{
	color:#fff;
}

.conteudo_sub_menu strong
{
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	background-image:url(../../imagens/gc/seta_geral_01.png);
	background-repeat:no-repeat;
	padding-left:20px;
}

.conteudo
{
	display:block;
	min-height:400px;
	width:98%;
	margin:0 auto;
	background-color:#FFF;
	min-width:1000px;
}
.conteudo_dentro
{
	display:block;
	padding:10px;
	min-width:1000px;
}

#div_blog
{
	display:block;
	margin-left:13%;
	min-width:500px;
}

#div_blog label
{
	float:left;
}

#div_blog img
{
	
}

.blog_materia
{
	float:left;
	background-color:#fafafa;
	margin:1px;
	/*width:300px;*/
}

.blog_materia b
{
	float:left;
	margin-left:1%;
}

.blog_materia input[type=text]
{
	float:left;
	margin-left:5px;
}

.blog_materia textarea
{
	margin-left:1%;
}

.materia_del
{
	float:right;
	margin:5px;
}

#conteudo_estadistico 
{
	display:block;
	width:100%;
	min-height:830px;
	min-width:400px;
}

.conteudo_estadistico 
{
	display:block;
	width:45%;
	float:left;
	padding:10px;
	border-radius: 15px;
	background:#fff;
	margin:2px;
	min-height:500px;
	min-width:400px;
}

#conteudo_estadistico h1
{
	font-size:12px;
	color:#848689;
	margin:0;
	padding:0;
	margin-bottom:5px;
}
#conteudo_estadistico input
{
	margin:2px;
}

#stats
{
	display:block;
	width:100%;
	height:100%;
}

.hr_invisivei
{
	display:block;
	min-width:100% !important;
	border-width: 0;
	height: 1px !important;
	border-top: 1px dotted #fff;
	margin:1px;
	position:relative;
	float:left;
}

#div_carrega_imagem
{

}
.chartscontainer
{
	display:block;
	width:100% !important;
	height:100%;
}

.rodape
{
	display:block;
	height:300px;
	width:100%;
	background:#000 url(../../imagens/gc/fundo_geral_02.png);
	margin-top:20px;
}

.rodape_dentro
{
	display:block;
	color:#fff;
	padding:30px;
}

.destaque{
	font-size:14px;
	color:red;
}

.body-02
{
	margin:10px;
}
img
{
	border:none;
}




/*====================================================================================
MENU TOPO
====================================================================================*/
#menu
{
	display:block;
	height:38px;
	clear:both;
	float:left;
}
 
#menu ul
{
	padding: 0; margin: 0;
}

#menu ul li
{
	list-style-type: none; 
	position: relative; 
	margin: 0; padding: 0;
}

#menu ul ul 
{
display: none;
}

#menu ul li:hover > ul 
{
	/* refere-se aos terceiro nvel */
	display: block; position: absolute; top: -1px; left: 100%;
}

#menu li a
{
	/* refere-se aos links */
	display: block; 
	height:26px; 
	text-decoration: none; 
	color:#fff;
	line-height:22px;
	padding-left:4px;
	padding-right:4px;
}

#menu ul.topmenu li a:hover
{
	background:#F3F3F3;
	color:#CCC;
}

#menu li.sub > a 
{
	background:#CCC;
	border-bottom:#F3F3F3 solid 1px;
}

#menu li.sub li > a 
{
	background:#CCC; 
	border-bottom:#F3F3F3 solid 1px;
}

#menu ul.topmenu 
{ 
	float:left;
}

#menu ul.topmenu > li:hover > ul 
{
	width: 100px; 
	top: 26px; left: -3px;
}

#menu ul ul
{
width: 10em;	
}

input, textarea, select
{
	border: #666 1px solid;
}

input[type=radio]
{
	border:none;
}

input[type=image]
{
	border:none;
}

a
{ 
	text-decoration: none; color: #666;
}

a:hover
{
	text-decoration: underline; color: #ccc;
}

.limpo
{
border:none;
}

.corpo-2 
{
	background-image:url(../../imagens/gc/fundo_geral.jpg);
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* layout geral*/

input[type=submit]
{
	background:#333 url(../../imagens/gc/fundo_geral_03.png);
	border:none;
	color:#FFF;
	padding:3px;
}
input[type=button]
{
	background-color:#F60;
	border:none;
	color:#FFF;
}

#linha-logo
{
float:left;
}

#linha-logo img
{
	float:left;
}

#linha-logo span
{
	float:left;
	margin-top:25px;
	margin-left:6px;
}

#linha-menu
{
	clear:both;
}

#linha-sub-menu
{
	clear:both;
	height:34px;
	display: block;
}

#linha-sub-menu a
{
	color:#006699;
	text-decoration:none;
	display:block;
	float:left;
	padding:9px;
}

#linha-sub-menu form input
{
	display:block;
	float:left;
	margin:8px;
}

#linha-sub-menu form image
{
	display:block;
	float:left;
	margin:6px;
}

#linha-sub-menu img
{
	color:#006699;
	text-decoration:none;
	display:block;
	float:left;
}

.topo-col
{
	display:block;
	height:73px;
	width:33%;
	float:left;
	padding-top:16px;
}

.topo-col span
{
	display:block;
	width:100%;
	padding:6px;
	text-align:center;
}


#topo-col-dir form
{
	margin:10px;
}


/* login */
#caixa-login
{
	margin:20px auto;
	width:640px;
	display:block;
}

#caixa-login div
{
	border: #eee 1px solid;
	margin:20px auto;
	padding:0px;
	background:#FFFFFF url(../../imagens/gc/login_fundo.jpg);
	width:640px;
	display:block;
	float:left;
}

#caixa-login img
{
	float:left
}

#caixa-login h1
{
	font-size:16px;
	margin:0;
	padding:0;
}

#caixa-login strong
{
	float:left;
	display:block;
	width:70px;
	text-align:right;
	margin-right:4px;
}

#caixa-login span
{
	float:left;
	display:block;
	margin:20px 5px 20px 5px;
	border:0px solid #339933;
	width:300px;
	vertical-align:middle;
}

#caixa-login form
{
	display:block;
	padding:10px;
}

#caixa-login form span
{
	display:block;
	float:left;
	width:60px;
	text-align:right;
	padding:2px;
}


.linha-invisivel
{
	border-width: 0;
	height: 1px;
	border-top: 0px dotted #fff;
}

#corpo
{
	display:block;
	background-color:#fff;
	min-height:350px;
	margin:0 auto;
	border:#CCCCCC 1px solid;
	padding:10px;
}

.btn-menu-principal-01
{
	width:110px;
	height:17px;
	background-image:url(../../imagens/gc/btn_01.jpg);
	display:block;
	float:left;
	color:#006699;
	text-decoration:none;
	padding-top:10px;
	margin-right:2px;
}

.btn-menu-principal-02
{
	width:110px;
	height:17px;
	background-image:url(../../imagens/gc/btn_02.jpg);
	display:block;
	float:left;
	color:#006699;
	text-decoration:none;
	padding-top:10px;
	margin-right:2px;
}

.end-rodape
{
	padding:6px;
}

.migalha
{
	display:block;
	text-align: left;
	padding:4px;
	border-bottom:#FF9900 1px dotted;
}

.migalha a
{
	color:#999999;
	text-decoration:none;
}

.migalha a:hover
{
	color: #FF6600;
	text-decoration:underline;
}

.migalha strong
{
	color: #FF6600;
	text-transform:uppercase;
}


hr 
{
	border-width: 0;
	height: 1px;
	border-top: 1px dotted #FF9900;
	clear:both;
}

a.ajuda
{
	position:relative; /*this is the key*/
	z-index:24; background-color:#ccc;
	color:#000;
	text-decoration:none
}

a.ajuda:hover
{
	z-index:25; background-color:#ff0
}

a.ajuda span
{
	display: none
}

a.ajuda:hover span
{
	/*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top:2em; left:2em; width:15em;
	border:1px solid  #FF3300;
	background-color:#FFFFCC; color:#000;
	text-align: center;
	text-decoration:none;
	padding:4px;
}

.linhastabelas 
{
	border-width: 1px;
	border-bottom-style: groove;
	border-color: #CCCCCC;
}

.cinza-01
{
	background-color:#CCCCCC;
}

.cinza-02
{
	background-color:#eee;
}

form
{
	display:inline;
	border: 0;
}


.formularios
{
	display:block;
}

.formularios strong
{
	display:block;
	text-align:right;
	width:12%;
	border:#000 solid 0px;
	float:left;
	padding:6px;
}

.formularios span
{
	color: #F00;
	margin-left:10px;
	font-size:16px;
}

.zebrado-01
{
	padding:4px;
	background-color: #f5f5f5;
	text-decoration: none;
	border-bottom:#CCCCCC 1px solid;
}

.zebrado-01:hover
{
	padding:4px;
	background-color: #eee;
}
.zebrado-02
{
	padding:4px;
	background-color: #fff;
	text-decoration: none;
	border-bottom:#CCCCCC 1px solid;
}

.zebrado-02:hover
{
	padding:4px;
	background-color: #eee;
}


/*-----------avisos-------------*/
.msg_neutra
{
	display:block;
	padding:1px;
	border:#CCC solid 1px;
}

.msg_neutra span
{
	display:block;
	padding:20px;
	background-color:#eee;
}

.msg_neutra h1
{
	display:block;
	font-size:16px;
	margin:0;
	text-transform:uppercase;
	padding:0;
}

.msg_neutra h2
{
	display:block;
	font-size:14px;
	margin:0;
	font-weight:100;
	padding:0;
}

.msg_aviso
{
	display:block;
	border:solid #000 1px;
	padding:1px;
	margin-bottom:4px;
	margin-top:4px;
}

.msg_aviso span
{
	display:block;
	padding:6px;
	background:#FFCC00;
}

.msg_aviso h1
{
	color:#000;
	font-size:16px;
	text-transform:uppercase;
}

.msg_aviso h2
{
	color:#000;
	font-size:12px;
}


.msg_sucesso
{
	display:block;
	border:solid #063 1px;
	padding:1px;
	margin-bottom:4px;
	margin-top:4px;
	color:#FFFFFF;
}

.msg_sucesso span
{
	display:block;
	padding:6px;
	background:#99CC00;
}

.msg_sucesso h1
{
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
}

.msg_sucesso h2
{
	color:#fff;
	font-size:12px;
}

.msg_erro
{
	display:block;
	border:solid #990000 1px;
	padding:1px;
	margin-bottom:4px;
	margin-top:4px;
	color:#FFFFFF;
}

.msg_erro span
{
	display:block;
	padding:6px;
	background:#FF0000;
}

.msg_erro strong
{
	color:#fff;
	font-size:12px;
}


/********************/
/*Upload de arquivos*/
/********************/
.qq-uploader
{
	position:relative;
	width: 100%;
}

.qq-upload-button
{
	width: 105px;
	padding: 4px 0;
	text-align:center;
	background:#A41000;
	border:none;
	border-radius: 4px;
	width:140px;
	display:inline-block;
	color:#fff !important;
	font-size:12px;
}

#fechar_fancy
{
	width: 105px;
	padding: 4px 0;
	text-align:center;
	background:#A41000;
	border:none;
	border-radius: 4px;
	width:140px;
	color:#fff;
	font-size:12px;
	clear:both;
	position:absolute;
	bottom:0px;
	right:0px;
	color:#FFF;
}

#fechar_fancy_pagamento
{
	display:block;
	width: 200px;
	padding: 4px 0;
	text-align:center;
	background:#A41000;
	border:none;
	border-radius: 4px;
	width:160px;
	color:#fff;
	font-size:12px;
	clear:both;
	color:#FFF;
}

.qq-upload-button-hover
{
	background:#A41000;
	text-decoration:none;
}

.qq-upload-button-focus
{
	outline:1px dotted black;
}

.qq-upload-drop-area
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height: 70px;
	z-index:2;
	background:#A41000;
	text-align:center;
}

.qq-upload-drop-area span
{
	display:block;
	position:absolute;
	top: 50%;
	width:100%;
	margin-top:-8px;
	font-size:10px;
	color: #A41000;
}

.qq-upload-drop-area-active
{
	background:#A41000;
}

.qq-upload-list
{
	margin:15px 200px;
	padding:0;
	padding-left:50;
	list-style:disc;
	font-size:8px;
}

.qq-upload-list li 
{
	list-style-type: none; 
	margin:0;
	padding:0;
	padding-left:20px;
	line-height:15px;
}

.qq-upload-list span
{
	font-size:12px;
	color: #333;
}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}

.qq-upload-spinner
{
	display:inline-block;
	background: url("../../imagens/site/loading_02.gif");
	width:15px;
	height:15px;
	vertical-align:text-bottom;
}

.qq-upload-size, .qq-upload-cancel
{
	font-size:11px;
}

.qq-upload-failed-text
{
	display:none;
}

.qq-upload-fail .qq-upload-failed-text
{
	display:inline;
}

.listagem_imagens
{
	display:block;
	float:left;
	width:108px;
	min-height:100px;
	margin:2px;
	margin-bottom:10px;
	padding:4px;
}

.listagem_imagens input 
{
	float:left;
}

.listagem_imagens_form
{
	display:block;
	float:left;
	width:210px;
	min-height:100px;
	margin:2px;
	margin-bottom:10px;
	padding:4px;
	background-color:#f5f5f5;
}

.listagem_imagens_form img
{
	float:center;
	margin:5px;

}
.listagem_imagens_form input 
{
	
}

#div_produtos
{
	display:block;
	float:left;
	width:716px
}

#div_carrinho_pedidos
{
	float:left;
	
	display:block;
	padding-left:10px;
	padding-right:10px;
}

#div_carrinho_pedidos_ajax
{
	float:left;
	
	display:block;
	padding-left:10px;
	padding-right:10px;
}

#div_block_respostas
{
	display:block;
	float:left;
	width:60%;
	left:20%;
}


.itens
{
	display:block;
	float:left;
	left:20%;
	width:60%;
	margin:5px 6px 5px 6px;
	padding:5px 6px 5px 6px;
	background:#f7f7f9;
	color:#333333;
}

.itens img
{
	float:right;
}

.itens_cor
{
	text-align:left;
	display:inline-block;
	float:left;
	width:200px;
	margin:0px 4px 10px 4px;
	background:#f7f7f9;
	color:#333333;
}

#ui-datepicker-div
{
	z-index:30 !important;
}

#btn_cito
{
	background:#333 url(../../imagens/gc/fundo_geral_03.png);
	border:none;
	color:#FFF;
	padding:3px;
}

.jqplot-yaxis{
	margin-left:-10px !important;
}

.jqplot-xaxis{
	margin-bottom:-10px !important;
}


#chart1
{
	margin-left:10%;
}

#chart1b
{
	margin-left:10%;
}

#div_produto_agrupa
{
	display:block;
	float:left;
	width:800px;	
}


#div_ajax_resultado
{
	display:block;
	float:left;
	width:80%;
}

#div_ajax_resultado_02
{
	display:block;
	float:left;
	width:80%;
}

#div_ajax_resultado_03
{
	display:block;
	float:left;
	width:80%;
}

#div_ajax_resultado_04
{
	display:block;
	float:left;
	width:80%;
}

#div_ajax_resultado_05
{
	display:block;
	float:left;
	width:80%;
}



.class_produto_agrupa
{
	float:left;
	width:100px;
	min-height:150px;
	background-color:#f7f7f9;
	margin:10px !Important;
	padding:10px;
}

.class_produto_agrupa img 
{
	float: left;
	margin:10px 10px 5px 10px;
}


.blog_materia
{
	float:left;
	background-color:#fafafa;
	margin:1px;
	/*width:300px;*/
}

.blog_materia b
{
	float:left;
	margin-left:1%;
}

.blog_materia input[type=text]
{
	float:left;
	margin-left:5px;
}

.blog_materia textarea
{
	margin-left:1%;
}

.materia_del
{
	float:right;
	margin:5px;
}
-->