<div id="pagina_conteudo_esquerdo">
	<h2>[produto_titulo]</h2>
	[produto_corpo]
	
	[conteudo_blog]	
</div>

<div id="pagina_conteudo_direito">
	
	<div class="fb-like" data-href="[url_materia]" data-send="false" data-width="450" data-show-faces="true" show-faces="true" border_color="#fff;"></div>
	
	<div class="fb-comments" data-href="[url_materia]" data-num-posts="2" data-width="230" ></div>
	<!--Pinterest-->
		<div><a href="http://pinterest.com/pin/create/button/?url=[url_materia]&media=[imagem_url]" class="pin-it-button" count-layout="horizontal" target="_blank"><img border="1" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" width="41" height="22"/></a></div>
	<!--Pinterest-->

</div>