<html>
	<head>
		<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
		<title>[site_titulo]</title>
	</head>
	<body marginheight="0" marginwidth="0" topmargin="0">
		<table cellspacing="0" cellpadding="0" align="center" width="600" border="0">
			<tbody>
				<tr>
					<td bgcolor="#ffffff" align="Center">
						<font size="1" face="Verdana" color="#1065ac">Caso não esteja visualizando este mensagem, <a href="[link_mail]" target="_blank" style="text-decoration:none;">acesse este link</a>.</font>
					</td>
				</tr>
				<tr>
					<td><img src="[site_url]imagens/mailing/mailing_topo.png" border="0" width="731" height="29" style="display:block;" alt="" /></td>
				</tr>
				<tr background="[site_url]imagens/mailing/mailing_fundo.png">
					<td>
						<table width="100%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
							<tbody>
								<tr>
									<td>
									</td>
								</tr>
							</tbody>
							<tr>
								<td valign="top"><img src="[site_url]imagens/mailing/topo_logo.png" border="0" style="display:block;" alt=""/>
									<table width="100%" height="100%" border="0" align="center" cellpadding="4" cellspacing="0">
										<tbody>
											
											<tr>
												<td>
													[corpo]
												</td>
											</tr>
											<tr>
												<td style="text-align:center;">
													<a href="[site_url]" style="color:#0094D6;text-decoration:none;font-family:Verdana;font-size:16px;" target="_blank" >Clique para acessar ao site da Bells!</a>
												<p>&nbsp;</p>
												</td>
											</tr>

											<tr>
												<td>
													<hr style="border-width: 0; height: 0px; border-top: 3px solid #0094D6;" />
													<b style="font-family:Verdana, Arial, Helvetica, sans-serif;color:#0094D6;">[site_titulo]</b><br />
													<a style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;" href="[site_url]" target="_blank">[site_url]</a><br />
													<a style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;" href="mailto:[email_contato]" target="_blank">[email_contato]</a><br />
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><img src="[site_url]imagens/mailing/mailing_rodape.png" border="0" width="731" height="29" style="display:block;" alt="" /></td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" align="Center"><font size="1" face="Verdana" color="#1065ac">Se você não deseja mais receber nossos emails, <a href="@OPTOUT" target="_blank" style="text-decoration:none">cancele sua inscrição aqui</a> ou solicite o cancelamento através do email: [email_contato]</font>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>