<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		
		<title>[site_titulo]</title>
		<style type="text/css">
		body
		{
			font-family:Arial;
			font-size:12px;
		}
		
		body, td, b
		{
			font-weight:normal;
		}
		</style>
	</head>

	<body marginheight="0" marginwidth="0" topmargin="0">
		<table width="731" align="center" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="[site_url]imagens/mailing/mailing_topo.png" width="731" height="29" alt="" /></td>
			</tr>

			<tr>
				<td background="[site_url]imagens/mailing/mailing_fundo.png">
					<table width="731" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" style="padding-left:20px;">
		
								<table width="680" height="100%" border="0" align="center" cellpadding="4" cellspacing="0">

									<tr>
										<td></p><img src="[site_url]imagens/mailing/topo_logo.png" border="0"/></p></td>
									</tr>
									<tr>
										<td style="color:#000;">[corpo]</td>
									</tr>
									<tr>
										<td style="text-align:center;">
											<a href="[site_url]" style="color:#000;text-decoration:none;font-family:Verdana;font-size:14px;" target="_blank" >Clique para acessar ao site da SHOPPING GARDEN!</a>
										</td>
									</tr>

									<tr>
										<td>
											<hr style="border-width: 0; height: 0px; border-top: 6px solid #000;" />
											<b style="font-family:Verdana, Arial, Helvetica, sans-serif;color:#000;">[site_titulo]</b><br />
											<a style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;" href="[site_url]" target="_blank">[site_url]</a><br />
											<a style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;" href="mailto:[email_contato]" target="_blank">[email_contato]</a><br/>
										</td>
									</tr>
								</table>
	

							&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr>
				<td><img src="[site_url]imagens/mailing/mailing_rodape.png" width="731" height="29"/></td>
			</tr>
		</table>
	</body>
</html>